*
!/**/
!*.*
Leetcode/test-ignore.ts
Leetcode/*.exe
Leetcode/test.cpp
Leetcode/.vscode/tasks.json
test.cpp
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
Leetcode/tempCodeRunnerFile.cpp
/LeetCodeCSharp/.vs
/LeetCodeCSharp/LeetCodeSolveWithTest/obj
/LeetCodeCSharp/LeetCodeSolveWithTest/bin/Debug/net8.0
